.container{
    display: grid;
    grid-template-columns: 30vw 69vw;
    display: fixed;
    top: 0;
    left: 0;
    margin: 0;
    grid-gap:5px;
    .right{
        margin-top: 5px;
        height: calc(100vh - 5px);
        overflow: hidden;
    }
}

::ng-deep{
    .p-panel{
        margin-bottom: 5px;
    }
    .p-panel .p-panel-content{  
        padding: 0;   
    }
    .p-panel.p-panel-toggleable .p-panel-header {
        padding: 2px;
        height: 30px;
        display: flex;
        grid-gap: 20px;
        align-items: center;
    }
    .p-panel .p-panel-header .p-panel-header-icon {
        width: 25px;
        height: 25px;
    }
    .p-datatable .p-datatable-thead > tr > th {
        padding: 5px;
    }

    .p-datatable .p-datatable-tbody > tr > td {
        border-color:#949faa;
        padding: 5px;
    }
    .p-panel .p-panel-header {
        border: 1px solid #e8e8e8;
        background-image: linear-gradient(to right, #b4d7f1, #daf1f5);
        color: #000000;
    }

    .p-panel .p-panel-icons-end {
        display: flex;
        grid-gap: 10px;
        align-items: center;
    }

    .pannel_head{
        font-weight: 600;
        font-size: 14px;
        display: flex;
        align-items:flex-start;
        height: 100%;
    }

    .pannel_tabs{
        display: flex;
        height: 100%;
        align-items:baseline;
        padding-top: 5px;
        .tab_button{
            padding-left: 5px;
            padding-right: 5px;
            cursor: pointer;
            &:hover{
                border-bottom: solid 3px #7b87f2;
                color: rgb(36, 47, 144);
                background-color: #d9dcdf;
            }
        }
        .activeView{
            border-bottom: solid 3px #7b87f2;
            color: rgb(36, 47, 144);
        }
    }

    .button{
        margin-left: 3px;
    }
    .field-checkbox{
        display: flex;
        align-items: center;
        padding-bottom: 2px;
        grid-gap: 5px;
        margin-right: 15px;
    }

    .p-checkbox {
        display: flex;
        align-items: center;
        justify-content: center;
        .p-checkbox .p-checkbox-box {
            width: 16px;
            height: 16px;
        }
    }
    .yearPicker{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 5px;
        .rangeVlaue{
            font-weight: 500;
            font-size: 14px;
            margin-top: -5px;
            width: 90px;
        }
        .yearPickerSlider{
         width:calc(50vw - 30px );
         background: #8c8c8c;
        .p-slider-handle {
 
            border-radius: 7px;
         }
        }
        
    }

    .calcDropdown{
        width: 75px;
        height: 20px;
        .p-dropdown-label {
            font-size: 12px;
            padding: 0;
            padding-left: 3px;
        }

    }


}