<div class="container">
    <div class="left">
        <app-side-menu></app-side-menu>
    </div>

    <div class="right">
        <p-panel [toggleable]="true" (onAfterToggle)="toggle(0)" (onBeforeToggle)="mapOpen=!mapOpen" styleClass="pannel1">
            <ng-template pTemplate="header">
                <div class="yearPicker">
                    <div class="rangeVlaue">{{yearRange[0] + ' - ' + yearRange[1]}}</div>
                    <p-slider 
                    [(ngModel)]="yearRange" 
                    (onChange)="onYearRangeChange()"
                    [range]="true"
                    [min]="1970"
                    [max]="maxYear"
                    [step]="1"
                    styleClass="yearPickerSlider"
                    ></p-slider>

                </div>
            </ng-template>
            <ng-template pTemplate="icons">
                <div class="Calculate">
                    <p-dropdown 
                    [options]="calculationOptions" 
                    [(ngModel)]="calculationSelection" 
                    styleClass="calcDropdown"
                    optionLabel="name"></p-dropdown>
                </div>
                <!-- <div class="button"  title="Settings">
                    <span class="pi pi-cog"></span>
                </div> -->
            </ng-template>
            <app-map [setHeight]="height1" [open]="mapOpen" ></app-map> 
        </p-panel>
        <p-panel [toggleable]="true" (onAfterToggle)="toggle(1)">
            <ng-template pTemplate="header">
                <div class="pannel_head">
                    Analytics
                </div>
                <div class="pannel_tabs">
                    <div class="tab_button {{activeView == 0 ? 'activeView' : ''}}" (click)="setActiveView(0)"> Table </div>
                    <div class="tab_button {{activeView == 1 ? 'activeView' : ''}}" (click)="setActiveView(1)"> Chart </div>
                    <!-- <div class="tab_button {{activeView == 2 ? 'activeView' : ''}}" (click)="setActiveView(2)"> Report </div>
                    <div class="tab_button {{activeView == 3 ? 'activeView' : ''}}" (click)="setActiveView(3)"> Graph </div> -->
                </div>
            </ng-template>
            <ng-template pTemplate="icons">
                <div class="button" title="Export" (click)="export()">
                    <span class="pi pi-download"></span>
                </div>
                <!-- <div class="button" title="Settings">
                    <span class="pi pi-cog"></span>
                </div> -->
            </ng-template>
            <app-table *ngIf="activeView == 0" [setHeight]="height2" ></app-table>
            <app-chart *ngIf="activeView == 1" [setHeight]="height2" ></app-chart>
            <app-report *ngIf="activeView == 2" [setHeight]="height2" ></app-report>
            <app-graph *ngIf="activeView == 3" [setHeight]="height2" ></app-graph>
        </p-panel>
    </div>

</div>

    <div class="loaderWrapper">
        <div class="loader"></div>
        <div class="loadingText">
            Loading...
        </div>
    
    </div>


