.container{
    height: calc( 100vh - 12px );
    width: calc( 30vw - 5px);
    background-color: #f8f9fa;
    top: 5px;
    position: fixed;
    left: 5px;
    border-radius: 5px;
    overflow: hidden;
    .header{
        font-size: 19px;
        background-image: linear-gradient(to right, #b4d7f1, #cde3e7);
        padding-left: 5px;
        padding-right: 5px;
        display: flex;
        height: 45px;
        align-items: center;
        justify-content: space-between;
        font-weight: 600;
        width: 100%;
        .headerTxt{
            width: 200px;
            margin-top: -5px;
            .poweredBy{
                font-size: 11px;
                font-weight: 400;
                margin-top: -3px;
            }
        }
    }
    .filters{
        height: 60%;
        border-bottom: solid 1px black;
        margin: 5px;
        .Item{
            display: grid;
            align-items: center;
            grid-gap:10px;
            grid-template-columns: 30% 1fr;
        }
    }
}
::ng-deep{
    .p-input-icon-left, .p-input-icon-right {
        width: inherit;
    }
    .p-inputtext {
        width: 100% !important;
    }
    .p-multiselect {   
        width: calc(100% - 10px);
    }
    .p-listbox .p-listbox-list .p-listbox-item {
        padding: 5px;
    }
    .p-listbox .p-listbox-list .p-listbox-item-group {
        padding: 5px;
    }
    .p-treeselect {
        width: 100%;
    }
}
