<div class="container">
    <div class="header">
        <div class="headerTxt">
            <div>UN-Analytics</div>
            <div class="poweredBy">powered by TigerGraph</div>
        </div>
            <span class="p-input-icon-right">
                <i class="pi pi-search"></i>
                <input type="text" pInputText />
            </span>
    </div>
    <div class="filters">
        <div style="
        margin-top: 10px;
        margin-right: 10px;
        ">
         <p-dropdown 
                [options]="genderOptions" 
                [(ngModel)]="genderSelections" 
                defaultLabel="Select Gender" 
                [filter] = "false"
                optionLabel="name" 
                styleClass="genderDropdown"
                >
        </p-dropdown>
        <div style="height:10px"></div>
         <p-multiSelect 
            [(ngModel)]="metricInTreeSelections" 
            [options]="metricInTreeOptions" 
            (onChange)="updateData()"
            [filter] = "true"
            defaultLabel="Select Metric">
        </p-multiSelect>
        <div style="height:10px"></div>
        <p-dropdown 
        [options]="currencyOptions" 
        [(ngModel)]="currencySelection" 
        defaultLabel="Select Currency" 
        [filter] = "false"
        optionLabel="name" 
        styleClass="genderDropdown"
        >
</p-dropdown>
    </div>
    <div class="stats">
        
    </div>
</div>

