<div class="container">
    <div class="header">
        <div class="headerTxt">
            <div>UN-Analytics</div>
            <div class="poweredBy">powered by TigerGraph</div>
        </div>
            <span class="p-input-icon-right">
                <i class="pi pi-search"></i>
                <input type="text" pInputText />
            </span>
    </div>
    <div class="filters">
        <div class="Item">
            <div class="ItemHead">Gender :</div>
            <div>
                <p-multiSelect 
                [options]="genderOptions" 
                [(ngModel)]="genderSelections" 
                defaultLabel="Select a gender" 
                [filter] = "false"
                optionLabel="name" 
                display="chip"></p-multiSelect>
            </div>
        </div>
    </div>
    <div class="stats">
        
    </div>
</div>